[package]
name = "si-img"
version = "0.1.2"
edition = "2021"
authors = ["ReGraphic Foundation <rajdeepm.dev+rg@gmail.com"]
repository = "https://github.com/regraphic/si-rs"
description = "A simple and lightweight Rust library to generate Social Media Preview Images"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
image = "0.24.7"
reqwest = { version = "0.11.19" }
rusttype = "0.9.3"
wasm-bindgen = {version = "0.2.87"}
wasm-bindgen-futures = {version = "0.4.37", optional = true}

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["blocking"]
blocking = ["reqwest/blocking"]
async = ["wasm-bindgen-futures"]

[package.metadata.exclude]
paths = ["examples/*"]